<template>
  <v-flex xs12>
    <v-select
      :items="['Поставщик', 'Покупатель']"
      :rules="[rules.required]"
      v-model="user.role"
      label="Вы регистрируетесь как поставщик или покупатель?"
    ></v-select>
    <v-text-field label="ФИО" v-model="user.name"></v-text-field>
    <v-text-field label="Логин" v-model="user.login" :rules="[rules.required]"></v-text-field>
    <v-text-field
      label="E-mail"
      autocomplete="new-password"
      name="email"
      v-model="user.email"
      :rules="[rules.required]"
    ></v-text-field>
    <v-text-field
      label="Телефон"
      name="phone"
      v-model="user.phone"
      mask="+7(###) ### - ####"
      return-masked-value
    ></v-text-field>
    <v-text-field
      label="Пароль"
      autocomplete="new-password"
      v-model="user.password"
      :append-icon="show1 ? 'visibility' : 'visibility_off'"
      :rules="[rules.required, rules.min]"
      :type="show1 ? 'text' : 'password'"
      hint="At least 6 characters"
      counter
      @click:append="show1 = !show1"
    ></v-text-field>
    <v-text-field
      label="Повторите пароль"
      v-model="user.password2"
      :append-icon="show1 ? 'visibility' : 'visibility_off'"
      :rules="[rules.required, rules.min]"
      :type="show1 ? 'text' : 'password'"
      hint="At least 6 characters"
      counter
      @click:append="show1 = !show1"
    ></v-text-field>
  </v-flex>
</template>

<script>
export default {
  props: {
    user: Object
  },
  data() {
    return {
      show1: false,
      rules: {
        required: value => !!value || "Required.",
        min: v => v.length >= 6 || "Min 6 characters",
        emailMatch: () => "The email and password you entered don't match"
      }
    };
  }
};
</script>
