<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-data-table
        class="elevation-0"
        style="width: 100%;"
        hide-actions
        :headers="headers"
        :items="dataTable"
      >
        <template slot="headerCell" slot-scope="props">
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <span v-on="on">{{ props.header.text }}</span>
            </template>
            <span>{{ props.header.text }}</span>
          </v-tooltip>
        </template>
        <template v-slot:items="props">
          <tr>
            <td>{{ props.item.region }}</td>
            <td>
              <v-checkbox v-model="props.item.ready" hide-details></v-checkbox>
            </td>
          </tr>
        </template>
      </v-data-table>
      <v-btn class="mt-4" :disabled="!isReady" color="info">Зарегистрироваться</v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: "Regions",
  data() {
    return {
      headers: [
        { text: "Регион", id: 1, value: "region", sortable: false },
        { text: "Готов поставлять", id: 2, value: "ready", sortable: false }
      ],
      dataTable: [
        {
          id: 0,
          region: "Москва",
          ready: false
        },
        {
          id: 1,
          region: "Санкт-Петербург",
          ready: false
        }
      ]
    };
  },
  computed: {
    isReady() {
        return this.dataTable.some(x => x.ready === true);
    }
  }
};
</script>

<style lang="scss" scoped>
</style>