<template>
  <v-layout row wrap>
    <v-container grid-list-xs>
      <v-layout row wrap>
        <v-flex xs6>
          <h2>Chat</h2>
        </v-flex>
        <v-flex xs6 d-flex justify-end>
          <v-spacer></v-spacer>
          <v-btn color="success" @click="logout()">Logout</v-btn>
        </v-flex>
      </v-layout>
      <v-layout row wrap fill-height>
        <v-flex xs12 d-flex justify-center>
          <v-card class="chat_container mt-4">
            <v-card-title primary-title>Chat on Soket.io</v-card-title>
            <v-card-text>
              <ul>
                <li v-for="(mess,i) in messages" :key="i">
                  <span class="mr-2">{{mess.user.name}}:</span>
                  <span>{{mess.message}}</span>
                </li>
              </ul>
            </v-card-text>
            <v-card-actions>
              <v-layout row wrap>
                <v-flex xs10>
                  <v-textarea
                    v-model="message"
                    hide-details
                    outlined
                    rounded
                    row-height="1"
                    single-line
                    auto-grow
                    name="Message"
                  ></v-textarea>
                </v-flex>
                <v-flex d-flex align-center xs2>
                  <v-btn rounded block color="info" @click="sendMessage()">Send</v-btn>
                </v-flex>
              </v-layout>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-layout>
</template>

<script>
import io from "socket.io-client";
export default {
  data() {
    return {
      message: "",
      messages: [],
      socket: io("localhost:5000")
    };
  },
  methods: {
    logout() {
      this.axios.get("users/logout").then(res => {
        sessionStorage.removeItem("user");
        this.$router.push("/");
      });
    },
    sendMessage() {
      this.socket.emit("SEND_MESSAGE", {
        user: this.user,
        message: this.message
      });
      this.message = "";
    }
  },
  computed: {
    user() {
      return this.$store.getters.getUser;
    },
    userName() {
      return this.user.name !== "" ? this.user.name : "Anonim";
    }
  },
  mounted() {
    this.socket.on("MESSAGE", data => {
      this.messages = [...this.messages, data];
    });
    this.socket.on("ALL_MESSAGES", data => {
      this.messages = [ ...data];
    });
  }
};
</script>

<style scoped>
.chat_container {
  height: 90%;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.other_message {
  text-align: left;
}
.my_message {
  text-align: right;
}
</style>