<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <v-card class="elevation-12">
        <v-toolbar color="primary" dark flat>
          <v-toolbar-title>Login form</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-form>
            <v-text-field
              v-model="user.email"
              label="Login"
              name="login"
              prepend-icon="person"
              type="text"
            ></v-text-field>

            <v-text-field
              v-model="user.password"
              id="password"
              label="Password"
              name="password"
              prepend-icon="place"
              type="password"
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="primary" to="/registration">Зарегистрироваться</v-btn>
          <v-btn color="primary" @click="login()">Login</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import { eventBus } from "@/main";
export default {
  data() {
    return {
      drawer: null,
      user: {
        email: "",
        password: ""
      }
    };
  },
  methods: {
    login() {
      this.axios
        .post("users/login", this.user)
        .then(res => {
          let result = JSON.stringify(res.data);

          sessionStorage.setItem("user", result);

          this.$store.commit("setUser", res.data);
          this.$router.push("/chat");
        })
        .catch(err => {
          eventBus.$emit("error", [
            { msg: "Неправильное имя пользователя или пароль!" }
          ]);
        });
    }
  }
};
</script>
<style scoped>
</style>

