<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <v-card class="elevation-12">
        <v-toolbar color="primary" dark flat>
          <v-toolbar-title>Login form</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-form>
            <v-text-field
              v-model="user.name"
              label="Имя"
              name="name"
              prepend-icon="person"
              type="text"
            ></v-text-field>
            <v-text-field
              v-model="user.email"
              label="Email"
              name="email"
              prepend-icon="email"
              type="text"
            ></v-text-field>
            <v-text-field
              v-model="user.password"
              id="password1"
              label="Пароль"
              name="password"
              prepend-icon="lock"
              type="password"
            ></v-text-field>
            <v-text-field
              v-model="user.password2"
              id="password2"
              label="Повторите пароль"
              name="password"
              prepend-icon="lock"
              type="password"
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" @click="register()">Регистрация</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import { eventBus } from "@/main";
export default {
  name: "Login",
  data() {
    return {
      drawer: null,
      user: {
        name: "",
        email: "",
        password: "",
        password2: ""
      }
    };
  },
  methods: {
    register() {
      this.axios.post("users/register", this.user).then(res => {
        if (res.data.errors) {
          eventBus.$emit('error', res.data.errors);
        } else {
          this.$router.push('/');
        }
      });
    }
  }
};
</script>
<style scoped>
</style>

