<template>
  <v-app>
    <v-content>
      <v-container fluid fill-height>
        <router-view />
      </v-container>
      <template v-for="(err,i) in errors">
        <v-snackbar
          :key="i"
          v-model="snackbar"
          color="error"
          :multi-line="true"
          :timeout="timeout"
          right
          bottom
        >
          {{ err.msg }}
          <v-btn dark text @click="snackbar = false">Close</v-btn>
        </v-snackbar>
      </template>
    </v-content>
  </v-app>
</template>

<script>
import { eventBus } from "@/main";
import { log } from 'util';
export default {
  name: "App",
  data: () => ({
    errors: [],
    timeout: 2000,
    snackbar: true
  }),
  methods: {
    checkUser() {
      let user = sessionStorage.getItem("user");
      if (user) {
        
        this.$store.commit('setUser', JSON.parse(user));
        this.$router.push('/chat');
      } else {
        this.$router.push('/');
      }
    }
  },
  created() {
    eventBus.$on("error", err => {
      this.errors = err;
      this.snackbar = true;
    });
    this.checkUser();
  }
};
</script>
<style>
textarea {
  margin-top: 0 !important;
}
ul {
  padding: 0 24px;
  list-style: none;
}
</style>

